.banner {
    padding-top: 74px;
    background: url('../../assets/images/banner-bt-line.png') bottom center /100% no-repeat, url('../../assets/images/home-banner-bg.png') top left /auto 98% no-repeat;
    height: 898px;
    z-index: 1;
    position: relative;
}

.banner-imgs {
    position: relative;
    height: inherit;
    height: 824px;
}

.banner-imgs .img-1-div {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.banner-imgs .img-2-div {
    position: absolute;
    bottom: 0;
    right: -144px;
}

.banner-imgs .img {
    width: 97%;
}

/* Banner Right Content */
.banner .right-content {
    padding-top: 206px;
}

.banner .best-para {
    font-size: 28px;
    font-family: GadugiRegular, sans-serif;
    text-align: right;
    margin: 0;
}

.banner .hero-heading {
    font-size: 140px;
    line-height: 144px;
    text-align: right;
    text-transform: uppercase;
}

.banner .available-para {
    font-size: 29px;
    text-align: right;
    font-family: GadugiRegular, sans-serif;
    margin-bottom: 30px;
}

.banner .buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
}

/* Welcome Section */
.welcome-section {
    background: url('../../assets/images/welcome-bg.png') right top /50% auto no-repeat;
    padding-top: 400px;
    padding-bottom: 206px;
    margin-top: -240px;
}

.welcome-section .heading {
    font-size: 46px;
    margin-bottom: 26px;
}

.welcome-section .para {
    font-size: 18px;
    font-family: GadugiRegular, sans-serif;
    line-height: 30px;
    width: 91.5%;
    margin-bottom: 50px;
}

.welcome-section .sm-cards {
    display: flex;
    gap: 50px;
}

.welcome-section .icon-div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 37px;
    margin-bottom: 10px;
}

.welcome-section .icon-div img {
    height: 37px;
}

.welcome-section .name {
    display: block;
    text-align: center;
}

.welcome-section .right-part {
    display: flex;
    justify-content: flex-end;
}

.welcome-section .right-content {
    width: 72%;
    text-align: center;
}

.welcome-section .heading-2 {
    font-size: 59px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 40px;
}

.welcome-section .para-2 {
    font-size: 26px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 43px;
}

/* Devs Section */
.devs-db-part {
    background: url('../../assets/images/devs-db-bg.png') left top 305px no-repeat;
}

.devs {
    margin-top: -20px;
    padding-bottom: 163px;
}

.devs-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 56px;
}

.devs-card .top-part {
    width: 260px;
    height: 260px;
    position: relative;
    z-index: 2;
    margin-bottom: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.devs-card .top-part::before {
    border: dashed 2px #D31D05;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    /* background: linear-gradient(45deg, #D31D05 0%, #D040B4 100%);
    background-clip: content-box;
    -webkit-background-clip: content-box; */
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
    border-radius: 24px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.devs-card .devs-1 #lottie {
    height: 115px;
    width: 115px;
}

.devs-card .devs-2 #lottie {
    width: 167px;
    height: 167px;
}

.devs-card .devs-3 #lottie {
    height: 164px;
    width: 164px;
}

.devs-card .devs-4 #lottie {
    height: 144px;
    width: 177px;
}

.devs-card .name {
    font-size: 20px;
    text-align: center;
    display: block;
    width: 235.5px;
}


/* Gaming DB Section */
.db .global-para {
    margin-bottom: 87px;
}

.db .img-div {
    display: flex;
    justify-content: center;
}

.db .img-div img {
    width: 94%;
}

/* Ready Section */
.ready-section {
    padding: 243px 0 140px;
    background: url('../../assets/images/ready-bg-1.png') center top no-repeat, url('../../assets/images/ready-bg-2.png') right bottom -44px no-repeat;
}

.ready-section .global-para {
    margin-bottom: 98px;
}

.ready-section .mb-cards {
    margin-bottom: 40px;
}

.ready-section .mb-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* margin-right: 60px; */
}

.ready-section .mb-card img {
    width: 100%;
}

.ready-section .slick-center {
    transform: scale(1.2);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
}

.ready-section .slick-center .mb-card {
    background: url('../../assets/images/mb-bg.png') top left / 100% 100% no-repeat;
    padding: 17px 10px 18px;
}

.ready-section .slick-track {
    height: 660px;
}

.ready-section .slick-initialized .slick-slide {
    display: flex;
    align-items: center;
    padding: 0 26px;
}

/* .ready-section .slick-next:before {
    content: '\f054';
    font: var(--fa-font-solid);
    color: white;
    display: inline-block;
    width: 60px;
    background: grey;
    height: 60px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
} */

/* Mode Cards */
.mode-cards .sm-heading {
    padding-left: 26px;
    color: #D31D05;
    font-size: 30px;
    margin-bottom: 21px;
}

.mode-cards .mode-ul {
    list-style-type: none;
    padding-left: 30px;
}

.mode-cards .mode-li {
    font-family: GadugiRegular, sans-serif;
    position: relative;
    margin-bottom: 20px;
    width: 75%;
}

.mode-cards .mode-li::before {
    content: '✓';
    left: -20px;
    position: absolute;
}

.mode-cards .center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.mode-cards .center-content .transparent-btn {
    padding: 22px 55px;
}

/* Loyalty Section */
.loyalty-section {
    background-color: white;
    padding: 76px 0 123px;
}

.general-heading {
    font-size: 50px;
    margin-bottom: 35px;
    color: black;
}

.loyalty-section .sm-para {
    color: black;
    width: 90%;
    margin-bottom: 45px;
}

.loyalty-section .loyalty-ul {
    list-style: none;
}

.loyalty-section .loyalty-li {
    color: black;
    font-family: GadugiRegular, sans-serif;
    font-size: 22px;
    margin-bottom: 43px;
    position: relative;
}

.loyalty-section .loyalty-li::before {
    background: url('../../assets/images/tick-icon.png') center /100% 100%;
    content: '';
    width: 30px;
    height: 24px;
    position: absolute;
    left: -40px;
    top: 7px;
}

.loyalty-section .right-part {
    padding-top: 44px;
}

.loyalty-section .img {
    width: 100%;
}

/* Coming Section */
.coming-section {
    background-color: #F5F5F5;
    padding: 81px 0 117px;
}

.coming-section .general-heading {
    margin-bottom: 15px;
}

.coming-section .sm-para {
    margin-bottom: 50px;
}

.coming-section .sm-para, .coming-card .title, .coming-card .para {
    color: black;
}

.coming-card-parent {
    padding-right: 30px;
}

.coming-card {
    background-color: #FFFFFF;
    border-radius: 14px;
    padding: 12px 12px 53px;
    overflow: hidden;
}

.coming-card .img-div {
    height: 232px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 23px;
}

.coming-card .img {
    height: 100%;
}

.coming-card .title {
    font-size: 18px;
    margin-bottom: 15px;
}

.coming-card .author {
    color: #D31D05;
    display: block;
    font-family: GadugiRegular, sans-serif;
    font-size: 16px;
    margin-bottom: 19px;
}

.coming-card .para {
    font-family: GadugiRegular, sans-serif;
    font-size: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6; /* start showing ellipsis when 3rd line is reached */
    white-space: pre-wrap; /* let the text wrap preserving spaces */
    text-overflow: ellipsis;
    margin-bottom: 0;
}

@media screen and (max-width: 1920px) {
    /* Devs Section */
    .devs-card .top-part {
        width: 220px;
        height: 220px;
    }

    .devs-card .top-part {
        margin-bottom: 56px;
    }

    .devs-card .devs-1 #lottie {
        height: 104px;
        width: 104px;
    }
    
    .devs-card .devs-2 #lottie {
        width: 152px;
        height: 152px;
    }
    
    .devs-card .devs-3 #lottie {
        height: 140px;
        width: 140px;
    }
    
    .devs-card .devs-4 #lottie {
        height: 136px;
        width: 166px;
    }
}

@media screen and (max-width: 1699.9px) {
    .banner-imgs .img-2-div {
        display: none;
    }

    /* Banner Right Section */
    .banner .right-content {
        padding-top: 180px;
    }

    .banner .hero-heading {
        font-size: 118px;
    }

    /* Welcome Section */
    .welcome-section {
        margin-top: -150px;
        padding-top: 300px;
        padding-bottom: 180px;
    }

    .welcome-section .heading {
        margin-bottom: 16px;
    }

    .welcome-section .para {
        width: 100%;
        font-size: 16px;
        margin-bottom: 30px;
    }

    .welcome-section .right-content {
        width: 76%;
    }

    .welcome-section .heading-2 {
        font-size: 50px;
    }

    .welcome-section .para-2 {
        font-size: 22px;
    }

    /* Devs Section */
    .devs-db-part {
        background-position: top 150px;
    }
    .devs {
        padding-bottom: 80px;
    }

    .devs-card .top-part {
        width: 200px;
        height: 200px;
        margin-bottom: 46px;
    }

    .devs-card .name {
        font-size: 17px;
        width: 70%;
    }

    /* Gaming DB Section */
    .db .global-para {
        margin-bottom: 40px;
    }

    /* Ready Section */
    .ready-section {
        padding: 166px 0 110px;
    }

    .ready-section .slick-track {
        height: 480px;
    }

    .ready-section .global-para {
        margin-bottom: 50px;
    }

    /* Mode Cards */
    .mode-cards .mode-li {
        width: 92%;
    }

    .mode-cards .center-content .transparent-btn {
        padding: 18px 48px;
    }

    /* Loyalty Section */
    .loyalty-section .sm-para {
        margin-bottom: 38px;
    }

    .loyalty-section .loyalty-li {
        font-size: 19px;
    }

    .loyalty-section .loyalty-li::before {
        width: 24px;
        height: 18px;
        left: -31px;
    }

    /* Coming Section */
    .coming-card {
        padding-bottom: 24px;
    }

    .coming-card .img-div {
        height: 190px;
        margin-bottom: 18px;
    }

    .coming-card .title {
        margin-bottom: 10px;
    }

    .coming-card .author {
        margin-bottom: 14px;
    }
}

@media screen and (max-width: 1500px) {
    .banner .right-content {
        padding-top: 150px;
    }

    .banner .best-para {
        font-size: 23px;
    }

    .banner .hero-heading {
        font-size: 104px;
        line-height: 110px;
    }

    .banner .available-para {
        font-size: 24px;
    }
}

@media screen and (max-width: 1399.9px) {
    .banner {
        background: url('../../assets/images/banner-bt-line.png') bottom center /100% no-repeat, url('../../assets/images/home-banner-bg.png') top -20px center /auto 98% no-repeat;
        height: 720px;
    }

    .banner-imgs {
        height: 646px;
    }

    .banner-imgs .img {
        width: 80%;
    }

    .banner .best-para {
        font-size: 19px;
    }

    .banner .hero-heading {
        font-size: 96px;
        line-height: 100px;
    }

    .banner .available-para {
        font-size: 20px;
    }

    /* Welcome Section */
    .welcome-section {
        margin-top: -200px;
        background-size: 54%;
        padding: 280px 0 124px;
    }

    .welcome-section .heading {
        font-size: 40px;
        margin-bottom: 12px;
    }

    .welcome-section .para {
        line-height: 26px;
    }

    .welcome-section .right-content {
        width: 80%;
    }

    .welcome-section .heading-2 {
        font-size: 44px;
        margin-bottom: 20px;
    }

    .welcome-section .para-2 {
        font-size: 20px;
        margin-bottom: 30px;
    }

    /* Devs Section */
    .devs-card .top-part {
        width: 180px;
        height: 180px;
    }

    .devs-card .devs-1 #lottie {
        width: 80px;
        height: 80px;
    }

    .devs-card .devs-2 #lottie {
        width: 140px;
        height: 140px;
    }

    .devs-card .devs-3 #lottie {
        width: 110px;
        height: 110px;
    }

    .devs-card .devs-4 #lottie {
        height: 124px;
        width: 140px;
    }

    .devs-card .name {
        font-size: 16px;
        /* width: 88%; */
    }

    /* Ready Section */
    .ready-section {
        padding: 80px 0 100px;
    }

    .ready-section .global-para {
        margin-bottom: 36px;
    }

    .ready-section .slick-center .mb-card {
        padding: 9px 5px 9px;
    }

    .ready-section .slick-track {
        height: 388px;
    }

    /* Mode Cards */
    .mode-cards .sm-heading {
        font-size: 27px;
        margin-bottom: 16px;
    }

    .mode-cards .mode-li {
        margin-bottom: 16px;
        font-size: 15px;
    }

    .mode-cards .center-content .transparent-btn {
        padding: 14px 43px;
        font-size: 15px;
    }

    /* Loyalty Section */
    .general-heading {
        font-size: 42px;
        margin-bottom: 24px;
    }

    .loyalty-section .sm-para {
        width: 92%;
        margin-bottom: 24px;
    }

    .loyalty-section .loyalty-li {
        font-size: 18px;
        margin-bottom: 30px;
    }

    /* Coming Section */
    .coming-section {
        padding: 70px 0 100px;
    }

    .coming-section .general-heading {
        margin-bottom: 10px;
    }

    .coming-section .sm-para {
        margin-bottom: 30px;
    }

    .coming-card .title {
        font-size: 16px;
        margin-bottom: 6px;
    }

    .coming-card .author {
        font-size: 14px;
        margin-bottom: 6px;
    }

    .coming-card .para {
        font-size: 14px;
        -webkit-line-clamp: 5;
    }
}

@media screen and (max-width: 1199.9px) {
    .banner {
        height: 620px;
    }

    .banner-imgs {
        height: 546px;
    }

    .banner .right-content {
        padding-top: 126px;
    }

    .banner .best-para {
        font-size: 17px;
    }

    .banner .hero-heading {
        font-size: 80px;
        line-height: 92px;
    }

    .banner .available-para {
        font-size: 17px;
    }

    /* Welcome Section */
    .welcome-section {
        margin-top: -170px;
        padding: 250px 0 96px;
    }

    .welcome-section .heading {
        font-size: 34px;
    }

    .welcome-section .para {
        font-size: 14px;
        line-height: 24px;
    }

    .welcome-section .name {
        font-size: 14px;
    }

    .welcome-section .right-content {
        width: 86%;
    }

    .welcome-section .heading-2 {
        font-size: 40px;
    }

    .welcome-section .para-2 {
        font-size: 18px;
    }

    /* Devs Section */
    .devs {
        padding-bottom: 60px;
    }

    .devs-card .top-part {
        width: 150px;
        height: 150px;
        margin-bottom: 32px;
    }

    .devs-card .name {
        width: 100%;
        font-size: 15px;
    }

    .devs-card .devs-1 #lottie {
        width: 60px;
        height: 60px;
    }

    .devs-card .devs-2 #lottie {
        width: 110px;
        height: 110px;
    }

    .devs-card .devs-3 #lottie {
        width: 96px;
        height: 96px;
    }

    .devs-card .devs-4 #lottie {
        height: 110px;
        width: 124px;
    }

    /* Gaming DB Section */
    .db .global-para {
        margin-bottom: 24px;
    }

    .db .img-div img {
        width: 90%;
    }

    /* Ready Section */
    .ready-section .slick-initialized .slick-slide {
        padding: 0 62px;
    }

    /* Mode Cards */
    .mode-cards .sm-heading {
        font-size: 24px;
        margin-bottom: 12px;
    }

    .mode-cards .mode-li {
        font-size: 14px;
        width: 100%;
    }

    .mode-cards .center-content .transparent-btn {
        padding: 13px 38px;
        font-size: 14px;
    }

    /* Loyalty Section */
    .general-heading {
        font-size: 40px;
        margin-bottom: 18px;
    }

    .loyalty-section .sm-para {
        width: 100%;
        margin-bottom: 16px;
    }

    .loyalty-section .loyalty-li {
        font-size: 17px;
        margin-bottom: 24px;
    }

    .loyalty-section .loyalty-li::before {
        width: 20px;
        height: 14px;
    }
}

@media screen and (max-width: 991.9px) {
    .banner-imgs {
        display: none;
    }

    .banner .best-para, .banner .hero-heading, .banner .available-para {
        text-align: left;
    }

    .banner .buttons {
        justify-content: start;
    }

    /* Welcome Section */
    .welcome-section {
        background-position: bottom -20% right;
        background-size: cover;
        margin-top: -190px;
    }

    .welcome-section .right-content {
        width: 100%;
        padding-top: 50px;
    }

    /* Gaming DB Section */
    .db .img-div img {
        width: 100%;
    }

    /* Ready Section */
    .ready-section {
        padding: 75px 0 80px;
    }

    .ready-section .slick-track {
        height: 350px;
    }

    .ready-section .slick-initialized .slick-slide {
        padding: 0 28px;
    }

    .mode-cards .mode-li {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 767.9px) {
    .banner {
        height: 580px;
    }

    .banner .hero-heading {
        font-size: 80px;
        line-height: 84px;
    }

    .banner .right-content {
        padding-top: 100px;
    }

    /* Ready Section */
    .ready-section .slick-initialized .slick-slide {
        padding: 0 14px;
    }

    .ready-section .slick-track {
        height: 285px;
    }

    .ready-section .slick-center .mb-card {
        padding: 6px 4px;
    }

    /* Mode Cards */
    .mode-cards .center-content {
        padding-top: 20px;
    }

    /* Loyalty Section */
    .loyalty-section {
        padding: 70px 0 80px;
    }
}

@media screen and (max-width: 575.9px) {
    .banner {
        height: 550px;
    }

    .banner .right-content {
        padding-top: 80px;
    }

    /* Welcome Section */
    .welcome-section {
        padding: 226px 0 90px;
    }

    /* Ready Section */
    .ready-section .global-para {
        margin-bottom: 20px;
    }

    .ready-section .mb-cards {
        margin-bottom: 16px;
    }

    .ready-section .slick-center {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
    }

    .ready-section .slick-initialized .slick-slide {
        padding: 0px 156px;
    }

    /* Loyalty Section */
    .loyalty-section {
        padding: 60px 0 70px;
    }

    .general-heading {
        font-size: 36px;
        margin-bottom: 16px;
    }

    .loyalty-section .loyalty-li {
        font-size: 16px;
    }

    /* Coming Section */
    .coming-section {
        padding: 60px 0 80px;
    }

    .coming-card .img-div {
        margin-bottom: 14px;
        height: 170px;
    }

    .coming-card .title {
        font-size: 15px;
        margin-bottom: 4px;
    }
}

@media screen and (max-width: 560px) {
    /* Ready Section */
    .ready-section .slick-initialized .slick-slide {
        padding: 0px 144px;
    }
}

@media screen and (max-width: 550px) {
    .ready-section .slick-initialized .slick-slide {
        padding: 0px 100px;
    }

    .ready-section .slick-track {
        height: 470px;
    }
}

@media screen and (max-width: 500px) {
    /* Ready Section */
    .ready-section .slick-track {
        height: 360px;
    }

    .ready-section .mb-cards {
        margin-bottom: 6px;
    }
}

@media screen and (max-width: 480px) {
    .banner {
        height: 500px;
    }
     
    .banner .right-content {
        padding-top: 70px;
    }

    .banner .hero-heading {
        font-size: 64px;
        line-height: 66px;
    }

    .banner .buttons {
        gap: 18px;
    }

    /* Welcome Section */
    .welcome-section {
        padding: 220px 0 60px;
    }

    .welcome-section .sm-cards {
        gap: 30px;
    }

    /* Ready Section */
    .ready-section {
        padding: 46px 0 70px;
    }

    .ready-section .global-para {
        margin-bottom: 0px;
    }

    .ready-section .slick-initialized .slick-slide {
        padding: 0px 1.7%;
    }

    /* Loyalty Section */
    .loyalty-section {
        padding: 50px 0 56px;
    }

    .general-heading {
        font-size: 32px;
        margin-bottom: 12px;
    }

    .loyalty-section .loyalty-li {
        font-size: 15px;
        margin-bottom: 12px;
    }

    /* Coming Section */
    .coming-section {
        padding: 44px 0 50px;
    }

    .coming-section .general-heading {
        margin-bottom: 6px;
    }

    .coming-section .sm-para {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 400px) {
    /* Ready Section */
    .ready-section .slick-initialized .slick-slide {
        padding: 0px 1.4%;
    }
}

@media screen and (max-width: 380px) {
    .banner {
        height: 450px;
    }

    .banner .right-content {
        padding-top: 60px;
    }

    .banner .best-para {
        font-size: 15px;
    }

    .banner .hero-heading {
        font-size: 48px;
        line-height: 50px;
    }

    .banner .available-para {
        font-size: 15px;
        margin-bottom: 22px;
    }

    .banner .buttons {
        gap: 10px;
    }

    /* Welcome Section */
    .welcome-section .sm-cards {
        gap: 14px;
    }

    .welcome-section .para {
        line-height: 20px;
    }

    .welcome-section .name {
        font-size: 12px;
    }

    /* Ready Section */
    .ready-section .slick-initialized .slick-slide {
        padding: 0px 1%;
    }

    /* Loyalty Section */
    .loyalty-section {
        padding: 40px 0 44px;
    }

    .general-heading {
        font-size: 28px;
    }

    /* Coming Section */
    .coming-card-parent {
        padding-right: 20px;
    }
}

@media screen and (max-width: 320px) {
    /* Ready Section */
    .ready-section .slick-track {
        height: 330px;
    }

    .ready-section .slick-initialized .slick-slide {
        padding: 0px 0.7%;
    }

    /* Coming Section */
    .coming-card .img-div {
        height: 120px;
    }
}